body {
    background-color: #f8f9fa;
    color: #212529;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #0f172a; 
    padding: 1rem 5%;
    position: sticky; 
    top: 0;
    z-index: 1000;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; 
}


.nav-links a {
    text-decoration: none;
    color: #f1f5f9;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #64ffda; 
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column; */
        padding: 1rem;
    }

    .nav-links {
        margin-top: 1rem;
        width: 100%;
        justify-content: center; 
        flex-wrap: wrap; 
        gap: 15px;
    }
}