body {
    background-color: #f8f9fa;
    color: #212529;
}


.navbar {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    background-color: #0f172a; 
    padding: 1rem 5%;
    position: sticky; 
    top: 0;
    z-index: 1000;
}


.nav-links {
    display: flex;
    list-style: none;
    gap: 20px; 
}


.nav-links a {
    text-decoration: none;
    color: #f1f5f9;
    font-weight: 500;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #64ffda; 
}



@media (max-width: 768px) {
    .navbar {
        flex-direction: column; 
        padding : 1rem;
    }

    .nav-links {
        margin-top: 1rem;
        width: 100%;
        justify-content: center; 
        flex-wrap: wrap; 
        gap: 15px;
    }
}



.sobre-foto {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}


.sobre-foto img {
    width: 200px;        
    height: 200px;        
    border-radius: 50%;   
    object-fit: cover;   
    border: 4px solid #1f1a5c; 
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); 
}

@media (max-width: 768px) {
    .sobre-foto img {
        width: 150px;
        height: 150px;
    }
}


h1, h2, h3 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}



.tags {
    display: flex;       
    flex-wrap: wrap;    
    justify-content: center; 
    gap: 12px;           
    margin-top: 15px;
    padding: 0 10%;     
}


.tag {
    background-color: #1e293b; 
    color: #64ffda;           
    padding: 8px 16px;
    border-radius: 20px;     
    font-size: 0.9rem;
    border: 1px solid #64ffda;
    white-space: nowrap;      
    transition: 0.3s;
}


.tag:hover {
    background-color: #64ffda;
    color: #0a192f;
}



.bio {
    max-width: 800px;      
    margin: 0 auto;       
    padding: 20px;
    line-height: 1.8;     
    text-align: justify;   
}

.bio p {
    margin-bottom: 1.5rem; 
    font-size: 1.1rem;     
     
}

.bio strong {
          
    font-weight: 600;
}